footer {
    background-color: $color-fondo; /* Fondo oscuro teal */
    color: $color-secundario-texto; /* Texto en blanco */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
    font-size: 20px;
    #logo{
        width: 121px;
        height: 41px;
        display: flex;
        justify-content: center;
    }
}