footer {
    background-color: #000c10; /* Fondo oscuro teal */
    color: #ffffff; /* Texto en blanco */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
    font-size: 20px;
}