.header-index{
    min-height: 100vh;
    position: relative;
    background-size: cover;
    width: 100%;
    height:100vh;
    padding: .625rem;
    

video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
      #logo{
        width: 121px;
        height: 41px;
    }
    .flexbox-nav{
        background-color: #1b20202c;
    }
    .flexbox-ul{
        list-style: none;
        @include flex(row,end,center,80px);
        font-size: 1.25rem;
        position: sticky;
        top: 0;
    }
    .flexbox-ul li a{
        color: $color-secundario-texto;
        text-decoration: none;
        &:hover{
          color: $color-principal-texto;
          text-decoration: none;
        }
    }
    .nombre-home h1{
      color: #ffffffcb;
      font-size: 140px;
      letter-spacing: 40px;
      font-weight:lighter;
      margin-left: 30px;
      position: relative;
      z-index: 2;
    }
    .nombre-home{
    padding-top: 200px;
    padding-left: 30px;
    }
    .nombre-home h2{
        font-size: 50px;
        font-weight:200;
        color: $color-principal-texto;
        margin-bottom: 6.25rem;
        margin-left: 30px;
        position: relative;
        z-index: 2;
    }
    section a{
      @include flex (column,none,center,none);
      padding: 10px 34px;
      font-size: 24px;
      backdrop-filter: blur 6.4px;
      background:transparentize($color: #00000097, $amount: 0);
      border: 1px solid #00ffe110; /* Border color */
      border-radius: 44px; /* Round border edges */
      cursor: pointer;
      outline: none;
        font-size: 34px;
        color: $color-principal-texto;
        text-decoration: none;
        width: fit-content; /* Ancho del botón ajustado al contenido */
        margin: 0 auto;
        position: relative;
        z-index: 2;
        &:hover{
          background: #00ffe15d; /* Background color on hover */
          color: #00000097(255, 255, 255, 0); /* Text color on hover */
        }
        &:active{
          transform: scale(0.97); /* Escala el botón al 98% de su tamaño original */
          box-shadow: 0px 2px 22px 0px rgba(47, 47, 47, 0.295); /* Reduce la sombra */
        }
    }

}