.grid-contact{
    width: 100%;
    height: 1000px;
    background-color: $color-fondo;
    ;
    .datos-personales{
        width: 600px;
        font-family: "Arimo", sans-serif;
        font-size: 15;
        font-weight: 7;
        color:$color-secundario-texto;
    }
    form {
        width: 80%; /* Ancho del formulario */
        max-width: 600px; /* Ancho máximo del formulario */
        margin-left: 450px;
        padding-top: 50px;
    }
    
    /* Estilo del contenedor del formulario */
    fieldset {
        border: none;
        padding: 1px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    /* Estilo de la leyenda */
    legend {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: "Arimo", sans-serif;
        font-size: 32px;
        font-weight: 100;
        color: $color-secundario-texto;
        text-align: center;
    }
    
    /* Estilo de las etiquetas */
    label {
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    
    /* Estilo de los inputs y textarea */
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
    }
    
    /* Estilo del botón de enviar */
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #fff70012;
        color: $color-terciario;
        border: 1px solid $color-terciario;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2em;
        transition: background-color 0.3s ease;
    }
    
    input[type="submit"]:hover {
        border: 1px solid;
        background-color: $color-terciario;
        color: rgb(0, 0, 0);
    }
    input[type="submit"]:active {
        transform: scale(0.95); /* Escala el botón al 98% de su tamaño original */
        box-shadow: 0px 2px 22px 0px rgba(47, 47, 47, 0.295); /* Reduce la sombra */    }
    
    /* Estilo para resaltar campos requeridos */
    input:required,
    textarea:required {
        border-color: #007bff;
    }
    
    /* Estilo para el mensaje de validación */
    input:invalid,
    textarea:invalid {
        border-color: #dc3545;
    }
    
    /* Estilo para el mensaje de validación personalizado */
    input:invalid + span,
    textarea:invalid + span {
        display: inline-block;
        font-size: 0.8em;
        color: #dc3545;
        margin-top: 5px;
    }
    

}